<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Documento</title>
  </head>
  <body>
    <section>
    <h1>{{msg}}</h1> <br>
    <form action="/insertar_telefono" method="post" autocomplete="off">  
        <label for="name">Nombre: </label>
        <input type="text" id="nombre" name="nombre" /> <br><br>
        <label for="telefono">Teléfono: </label>
        <input type="text" id="telefono" name="telefono" > <br><br>
        <input type="submit" value="enviar">
          </li>
        </ul>
      </form>
    </section>
  </body>
</html>