<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Documento</title>
  </head>
  <body>
    <section>
        <table border="1" style="margin: auto;">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
                {% for telefono in datos %}

                <tr>
                    <td>{{telefono[1]}}</td>
                    <td>{{telefono[2]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
  </body>
</html>